body {
    padding-top: 50px;
    width: 100%;
    height: 100%;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
span.robomakery {
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
    color: #158cba;
}

html {
    width: 100%;
    height: 100%;
}

.contact-confirmation {
    margin-top: 20px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
