---
title: Robomakery
---

{% include header.html %}

<div id="home" class="bs-component">
  <br />
  <div id="contacted-thanks" style="display:none" class="row">
    <div class="col-xs-6 col-xs-offset-3 contact-confirmation alert alert-success role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      Thank you for contacting us.  We value your feedback and support!
    </div>
  </div>

  <div class="well well-lg">
    <h1>Our Mission</h1>
    <p class="lead">Accelerate development of affordable service robots for people with mobility impairments.</p>
  </div>
</div>
<div id="about" class="page-header">
  <h1>About</h1>
  <div class="row">
    <div class="col-md-12">
      <p>
        Robomakery was founded in 2014 by Dylan Vaughn ( <a title="LinkedIn" href="https://www.linkedin.com/in/dylanvaughn"><i class="fa fa-linkedin"></i></a>&nbsp;&nbsp;<a title="GitHub" href="https://github.com/dylanvaughn"><i class="fa fa-github"></i></a> ) to bring advanced robotics and software research to the community of people impacted by mobility impairments.
      </p>
      </p>
      <p>
        We believe in:
        <div class="bg-component">
          <div class="list-group">
            <span class="list-group-item">
              <h4 class="list-group-item-heading">Open Source</h4>
              <p class="list-group-item-text">All projects developed by Robomakery strive to be as open as possible. By releasing all software and hardware as open source, we can more directly share in the knowledge of the global open source / maker community.</p>
            </span>
            <span class="list-group-item">
              <h4 class="list-group-item-heading">Specialization</h4>
              <p class="list-group-item-text">Our robots are specialized to each solve a specific problem.  For example, the Spot robot picks items up from the floor and Stocker takes items in / out of shelves.  This allows us to customize the form to more directly solve the problem than a general purpose humanoid robot.</p>
            </span>
            <span class="list-group-item">
              <h4 class="list-group-item-heading">Affordability</h4>
              <p class="list-group-item-text">Service robots cannot fill their purpose if they are prohibitively expensive.  We hope to keep costs down by leveraging 3d-printing, standardized parts, and our open development model.</p>
            </span>
          </div>
        </div>
      </p>
    </div>
  </div>
</div>

<div id="projects" class="page-header">
  <h1>Projects</h1>
</div>
<div>
  <div class="row multi-columns-row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="bs-component">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>Wheeled Base</h3>
          </div>
          <div class="panel-body">
            <p>
              The Wheeled Base is a ROS-powered, 3d-printed mobile base.  It will serve as the foundation for other projects, such as the Spot robot.
            </p>
            <div class="bg-component">
              <div class="list-group">
                <a class="list-group-item" href="https://github.com/robomakery/wheeled-base" title="Wheeled Base on GitHub"><i class="fa fa-github fa-lg"></i> &nbsp;Source code on GitHub</a>
                <a class="list-group-item" href="https://trello.com/b/tdWniHWv/wheeled-base-development" title="Wheeled Base Development Trello Board"><i class="fa fa-trello fa-lg"></i> &nbsp;Project planning on Trello</a>
                <a class="list-group-item" href="https://groups.google.com/forum/#!forum/robomakery-wheeled-base" title="Wheeled Base Mailing List"><i class="fa fa-envelope fa-lg"></i> Discussion on Google Groups</a>
              </div>
            </div>
          </div>
          <div class="panel-footer">Status: In Development</div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="bs-component">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>Spot</h3>
          </div>
          <div class="panel-body">
            <p>Spot is a semi-autonomous wheeled robot (using the Wheeled Base) that can pick items up off the floor and lift them to counter height to be retrieved by an operator.</p>
            <div class="bg-component">
              <div class="list-group">
                <a class="list-group-item" href="https://github.com/robomakery/spot" title="Spot on GitHub"><i class="fa fa-github fa-lg"></i> &nbsp;Source code on GitHub</a>
              </div>
            </div>
          </div>
          <div class="panel-footer">Status: Researching</div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="bs-component">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>Stocker</h3>
          </div>
          <div class="panel-body">
            <p>Stocker is a stationary robot with arms that can take items in and out of shelves or cupboards.</p>
          </div>
          <div class="panel-footer">Status: Researching</div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="bs-component">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>Walkchair</h3>
          </div>
          <div class="panel-body">
            <p>A power wheelchair that has legs in addition to wheels for added mobility.</p>
            <div class="bg-component">
              <div class="list-group">
                <a class="list-group-item" href="http://www.pinterest.com/walkchair/interesting-technology/" title="Interesting Technology Pinterest Board"><i class="fa fa-pinterest fa-lg"></i> &nbsp;Interesting Tech Pinterest Board</a>
                <a class="list-group-item" href="https://twitter.com/walkchairrobot" title="Walkchair on Twitter"><i class="fa fa-twitter fa-lg"></i> &nbsp;Walkchair on Twitter</a>
              </div>
            </div>
          </div>
          <div class="panel-footer">Status: Researching</div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="bs-component">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>Open Powerchair</h3>
          </div>
          <div class="panel-body">
            A completely open source hardware and software power wheelchair.
          </div>
          <div class="panel-footer">Status: Planned</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="news" class="page-header">
  <h1>News</h1>
</div>
<div class="row multi-columns-row">
  <p id="news-content"></p>
</div>

<div id="contact" class="page-header">
  <h1>Contact</h1>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="bg-component">
      <div class="list-group">
        <a class="list-group-item" href="https://twitter.com/robomakery" title="Robomakery on Twitter"><i class="fa fa-twitter fa-lg"></i> &nbsp;Follow us on Twitter!  We will tweet project updates and other interesting related news tidbits.</a>
        <div class="list-group-item">
          <p><i class="fa fa-send fa-lg"></i> &nbsp;Send us a message:</p>
          <form action="http://submit.jotform.us/submit/42787122128152/" method="post" name="form_42787122128152" id="42787122128152" accept-charset="utf-8" id="contactForm" novalidate>
            <input type="hidden" name="formID" value="42787122128152" />
            <input type="hidden" id="simple_spc" name="simple_spc" value="42787122128152" />
            <script type="text/javascript">
              document.getElementById("si" + "mple" + "_spc").value = "42787122128152-42787122128152";
            </script>
            <div style="display:none">
              Should be Empty:
              <input type="text" name="website" value="" />
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" name="q1_name" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name." />
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="q3_email" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address." />
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input type="tel" class="form-control" name="q4_phone" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number." />
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <textarea rows="6" class="form-control" name="q5_message" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-lg-12 text-center">
                <div id="success"></div>
                <button type="submit" class="btn btn-xl">Send Message</button>
              </div>
            </div>
          </form>
        </div>
        <a class="list-group-item" href="mailto:hello@robomakery.com" title="Email Robomakery"><i class="fa fa-envelope fa-lg"></i> &nbsp;Or you can always email us at hello@robomakery.com.</a>
      </div>
    </div>
  </div>
</div>

{% include footer.html %}
