---
title: Robomakery
---

{% include header.html %}

<div class="starter-template">
  <img src="images/RM_400x400.png" width="200" height="200" />
  <h1>Robomakery</h1>
  <p class="lead">Open source robots for people with mobility impairments</p>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <h2>Current Projects</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>Spot</h3>
        <p>
          Spot is a small wheeled robot that is designed to help people pick up small objects from the floor (like a remote control or phone).
        </p>
        <p>
          Learn more: <a href="https://github.com/robomakery/spot">https://github.com/robomakery/spot</a>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">

        <h3>Walkchair</h3>
        <p>
          Walkchair is a project exploring how to add legs to power wheelchairs for increased mobility.
        </p>
        <p>
          Learn more: <a href="http://www.walkchair.org">http://www.walkchair.org</a>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Contact</h2>
        <p>
          hello [at] robomakery [dot] com
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <a class="twitter-timeline" href="https://twitter.com/robomakery" data-widget-id="491688851551711232">Tweets by @robomakery</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>

{% include footer.html %}
