<br /><br />
<div class="row">
  <div class="col-md-12">
    <p class="text-center">Copyright&copy; Robomakery, Inc. 2014</p>

  </div><!-- /.container -->

  <!-- Bootstrap core JavaScript
       ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <!-- https://github.com/sixfootsixdesigns/Bootstrap-3-Grid-Columns-Clearing -->
  <script src="/js/ie-row-fix.js"></script>
  <!-- https://github.com/jasonmayes/Twitter-Post-Fetcher -->
  <script src="/js/twitterFetcher_min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <script src="/js/site.js"></script>
</body>
</html>
